<h1>New Restaurant</h1>

<%= simple_form_for @restaurant do |f| %>
  <h1>New Restaurant</h1>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>

  <%= f.input :category, collection: Restaurant::VALID_CATEGORIES, prompt: "Select a category" %>

  <%= f.button :submit %>
<% end %>
